<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Multi-Tenancy CS268</title>

        <!-- Bootstrap Core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="/static/css/simple-sidebar.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div id="wrapper" class="toggled">

            <!-- Sidebar -->
            <div id="sidebar-wrapper" class="custom">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/">
                            <i class="fa fa-tasks" aria-hidden="true" ></i> Management Console
                        </a>
                    </li>
                    <li id="welcome">Welcome,</li>
                    <li id="user" style="">{{ current_user.name }}</li>
                    <a href="/create" class="btn btn-default" id="menu-toggle">Create a new Project</a>
                    <li id="clickme">
                        <a href="#">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Projects
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                    </li>
                    <div id="drop">
                        {% for project in projects %}
                            <li>
                                <a href="/project/{{project[0]}}">{{ project[1] }}</a>
                            </li>
                        {% endfor %}
                    </div>
              </ul>
          </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div class="row">
                <div class="notification-div"></div>
                <a href="/logout" class="btn btn-default row" id="logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Log Out
                </a>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid row">
                    <div class="row">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/socket.io.min.js"></script>
        <script src="/static/js/notify.js"></script>
        <script src="https://use.fontawesome.com/66a53a2319.js"></script>
            <!-- Menu Toggle Script -->
        <script>
            $(document).ready(function(){
                var conn_path = 'http://' + document.domain + ':' + location.port;
                var socket = io.connect(conn_path);
                socket.on('invited', function(msg) {
                    console.log(msg.msg);
                    $('.notification-div').notify('You have been invited to ' + msg.msg, success, {position: 'right'});
                });
            });
        </script>
        <script>
            $( "#clickme" ).click(function() {
                $( "#drop" ).toggle( "slow", function() {
                // Animation complete.
                });
            });
        </script>
        <script>
            $( "a#invite" ).click(function() {
                $("div.invite-form").toggle();
                $("a#invite").toggle();
                $( ":button#invite" ).toggle();
            });
        </script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>

    </body>
</html>
